<!DOCTYPE html>
<html>
    <head>
        <title>Error Loading Page</title>
    </head>
    <body>
      <div style="text-align: center;">
        <h3 class="title">Something went wrong :(</h1>
        <p>Status: <%= templateData.status %></p>        
        <p>Error: <%= templateData.data.development ? templateData.error : 'unknown' %></p>
        <p>Messsage: <%= templateData.message %></p>
      </div>
    </body>
</html>